[defaults]
hash_behaviour = merge
inventory      = ../vagrant-ansible-test-vars/inventories/vagrant
vault_password_file = ~/.ansible/.deploy-dev.ansible.vaultpass
roles_path   = ./roles
library      = ./plugins/modules
module_utils = ./plugins/module_utils

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true
